<a href="https://colab.research.google.com/github/Priyo-prog/Human-Resource-Department/blob/main/Human_Resource_Department.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HR team has collected extensive data to build a model to understand any employee wants to quit from the company

# **Import important libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Mount the drive and import the data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
employee_df = pd.read_csv('/content/drive/MyDrive/Data Science/Human Resource Department/Human_Resources.csv')

In [5]:
employee_df.head()

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5
1   49        No  ...                       1                     7
2   37       Yes  ...                       0                     0
3   33        No  ...                       3                     0
4   27        No  ...                       2                     2

[5 rows x 35 columns]